{% load compress static %}


<script>
  $(window).on('load', function () {
    $('.preloader').hide();
  });
</script>



{% compress js %}
<script src="{% static 'js/gsap.js' %}"></script>
<script src="{% static 'js/splittext.js' %}"></script>
<script src="{% static 'js/scrolltrigger.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/plyr.js' %}"></script>
<script src="{% static 'js/player.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="/static/js/new-style-features.js"></script>
<script src="/static/js/isotope.pkgd.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/custom-script.js"></script>
{% endcompress %}



<!-- Load Translate script only when idle or when needed -->

<script async src="https://kit.fontawesome.com/3c08f1e179.js" crossorigin="anonymous" rel="dns-prefetch"></script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PTJSKHVE7L" rel="dns-prefetch"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-PTJSKHVE7L');
</script>