{% load compress static %}


<script>
  $(window).on('load', function () {
    $('.preloader').hide();
  });
</script>




<script src="{% static 'js/gsap.js' %}" data-turbo-track="reload" ></script>
<script src="{% static 'js/splittext.js' %}" data-turbo-track="reload" ></script>
<script src="{% static 'js/scrolltrigger.js' %}" data-turbo-track="reload" ></script>
<script src="{% static 'js/swiper.js' %}" data-turbo-track="reload" ></script>
<script src="{% static 'js/plyr.js' %}" data-turbo-track="reload" ></script>
<script src="{% static 'js/player.js' %}" data-turbo-track="reload" ></script>
<script src="{% static 'js/main.js' %}" data-turbo-track="reload" ></script>
<script src="/static/js/new-style-features.js" data-turbo-track="reload"></script>
<script src="/static/js/isotope.pkgd.js" data-turbo-track="reload" ></script>
<script src="/static/js/owl.carousel.min.js" data-turbo-track="reload"  ></script>
<script src="/static/js/custom-script.js" data-turbo-track="reload" ></script>

<script src="{% static 'js/facility-hire-form.js' %}" data-turbo-track="reload"  ></script>



<!-- Load Translate script only when idle or when needed -->

<script async src="https://kit.fontawesome.com/3c08f1e179.js" crossorigin="anonymous" rel="dns-prefetch"></script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PTJSKHVE7L" rel="dns-prefetch"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-PTJSKHVE7L');
</script>