{% extends "base.html" %}
{% load static wagtailcore_tags crispy_forms_filters extra_tags widget_tweaks %}

{% block content %}
{% include "pages/hero.html" with type="internal" page=page %}

{% with blocks=page.top_body %}
{% for block in blocks %}

{% if block.block_type != "InternalPageNavigationBlock" %}
<section class="block-{{ block.block_type }}">
  {% include_block block %}
</section>
{% else %}
{% include_block block %}
{% endif %}
{% endfor %}
{% endwith %}



<div class="section s-form__col-2 facility-form">
    <div class="container">
         {% block thankyou_message %}
        {% endblock %}
        {% block form %}
        {% if page.intro %}
            <div class="intro">{{ page.intro|richtext }}</div>
        {% endif %}
        
        <form action="." method="POST" class="booking-form"  enctype="multipart/form-data" >
            {% csrf_token %}
            
            {# Display the standard form fields #}
            <!------------------top fields -->
            <div class="row">
            {% for field in form %}
            {% if field.field.widget.attrs.data_type == 'heading' %}
            <div class="section-heading col-lg-12">
                {{ field.label|safe }}
            </div>
            {% else %}
            <div class="col-lg-4">
                {% if field.name != 'booking_count' and field|not_booking_field %}
                    {% if field.field.widget|klass == 'ClearableFileInput' %}
                        <div class="s-form__form-item TextInput {{field.field.widget|klass}}">
                            {{ field.label_tag }}
                            <div class="input-wrap" data-required="True">                        
                                
                                {% render_field field class+='form-control input-style' placeholder='' %}
                                <span class="file-custom"></span>
                            </div>
                            {% if field.help_text %}
                                <p class="help-text">{{ field.help_text }}</p>
                            {% endif %}
                            {% if field.errors %}
                                    <ul class="errors">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            
                        </div>
                    
                    {% elif field.field.widget|klass == 'CheckboxSelectMultiple' or field.field.widget|klass == 'Select1' %}
                        <div class="s-form__form-item {{field.field.widget|klass}}">
                            {{ field.label_tag }}
                            <div class="input-wrap" data-required="True">                        
                                
                                {% render_field field class+='form-control input-style' placeholder='' %}
                            </div>
                            {% if field.help_text %}
                                <p class="help-text">{{ field.help_text }}</p>
                            {% endif %}
                            {% if field.errors %}
                                    <ul class="errors">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            
                        </div>
                    {% else %}
                        <div class="s-form__form-item TextInput {{field.field.widget|klass}}">
                            {{ field.label_tag }}
                            <div class="input-wrap" data-required="True">    
                                                    
                                {% render_field field class+='form-control input-style' placeholder='' %}
                            </div>
                            {% if field.help_text %}
                                <p class="help-text">{{ field.help_text }}</p>
                            {% endif %}
                            {% if field.errors %}
                                    <ul class="errors">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            
                        </div>
                    {% endif %}                    
                    
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            </div>
            <!------------------top fields -->
            
            {# Hidden field to track the number of bookings #}
            {{ form.booking_count }}
            {{form.booking_count.value}}
            
            {# booking fields section #}
            <div class="booking-fields-section">
                <h3>Bookings</h3>
                
                {% if page.booking_field_help_text %}
                    <div class="help-text">{{ page.booking_field_help_text|richtext }}</div>
                {% endif %}
                
                <div id="bookings-container">
                    <div class="booking" data-booking-index="1">
                        <h4>Booking #<span class="booking-number">1</span></h4>
                        <div class="row">
                            
                        
                        
                        {% for field_config in page.get_booking_fields %}
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="id_booking_1_{{ field_config.name }}">{{ field_config.label }}</label>
                                
                                {% if field_config.field_type == 'date' %}
                                <div class="s-form__form-item block-anim-js TextInput " >
                                    <div class="input-wrap" data-required="True">                  
                                        <input type="date" 
                                        name="booking_1_{{ field_config.name }}" 
                                        id="id_booking_1_{{ field_config.name }}"
                                        class="form-control input-style"
                                        required
                                        autocomplete="Off" placeholder="{{ field_config.label }}">
                                    </div>
                                </div>
                                           
                                {% elif field_config.field_type == 'email' %}
                                    <div class="s-form__form-item block-anim-js TextInput " >
                                    <div class="input-wrap" data-required="True">                  
                                        <input type="email" 
                                        name="booking_1_{{ field_config.name }}" 
                                        id="id_booking_1_{{ field_config.name }}"
                                        class="form-control input-style"
                                        required
                                        autocomplete="Off" placeholder="{{ field_config.label }}">
                                    </div>
                                </div>
                                {% elif field_config.field_type == 'number' %}
                                    <div class="s-form__form-item block-anim-js TextInput " >
                                    <div class="input-wrap" data-required="True">                  
                                        <input type="number" 
                                        name="booking_1_{{ field_config.name }}" 
                                        id="id_booking_1_{{ field_config.name }}"
                                        class="form-control input-style"
                                        required
                                        autocomplete="Off" placeholder="{{ field_config.label }}">
                                    </div>
                                </div>
                                {% else %}
                                    <div class="s-form__form-item block-anim-js TextInput " >
                                    <div class="input-wrap" data-required="True">                  
                                        <input type="text" 
                                        name="booking_1_{{ field_config.name }}" 
                                        id="id_booking_1_{{ field_config.name }}"
                                        class="form-control input-style"
                                        {# % if field_config.required %}required{% endif % #}
                                        required
                                        autocomplete="Off" placeholder="{{ field_config.label }}">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            </div>
                        {% endfor %}
                        </div>
                        
                        <button type="button" class="remove-booking-btn btn btn-green" {% if forloop.first %}style="display:none;"{% endif %}>
                            Remove Booking
                        </button>
                    </div>
                </div>
                
                <button type="button" id="add-booking-btn" class="btn btn-green">Add Another Booking</button>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-green">Submit</button>
            </div>
        </form>
        {% endblock %}
    </div>
    </div>
    {# Booking template for JavaScript to use #}
    <template id="booking-template">
        
        <div class="booking" data-booking-index="__INDEX__">
            <h4>Booking #<span class="booking-number">__INDEX__</span></h4>
            <div class="row">   
            {% for field_config in page.get_booking_fields %}
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="id_booking___INDEX___{{ field_config.name }}">{{ field_config.label }}</label>
                    
                    {% if field_config.field_type == 'date' %}
                            <div class="s-form__form-item block-anim-js TextInput " >
                                    <div class="input-wrap" data-required="True">                  
                                        <input type="date" 
                                        name="booking___INDEX___{{ field_config.name }}" 
                                        id="id_booking___INDEX___{{ field_config.name }}" 
                                        class="form-control input-style"
                                        required
                                        autocomplete="Off" placeholder="{{ field_config.label }}">
                                    </div>
                                </div>
                        
                    {% elif field_config.field_type == 'email' %}
                        <div class="s-form__form-item block-anim-js TextInput " >
                                    <div class="input-wrap" data-required="True">                  
                                        <input type="email" 
                                        name="booking___INDEX___{{ field_config.name }}" 
                                        id="id_booking___INDEX___{{ field_config.name }}" 
                                        class="form-control input-style"
                                        required
                                        autocomplete="Off" placeholder="{{ field_config.label }}">
                                    </div>
                                </div>
                    {% elif field_config.field_type == 'number' %}
                        <div class="s-form__form-item block-anim-js TextInput " >
                                    <div class="input-wrap" data-required="True">                  
                                        <input type="number" 
                                        name="booking___INDEX___{{ field_config.name }}" 
                                        id="id_booking___INDEX___{{ field_config.name }}" 
                                        class="form-control input-style"
                                        required
                                        autocomplete="Off" placeholder="{{ field_config.label }}">
                                    </div>
                                </div>
                    {% else %}
                        <div class="s-form__form-item block-anim-js TextInput " >
                                    <div class="input-wrap" data-required="True">                  
                                        <input type="text" 
                                        name="booking___INDEX___{{ field_config.name }}" 
                                        id="id_booking___INDEX___{{ field_config.name }}" 
                                        class="form-control input-style"
                                        required
                                        autocomplete="Off" placeholder="{{ field_config.label }}">
                                    </div>
                                </div>
                    {% endif %}
                </div></div>
            {% endfor %}
            </div>
            
            <button type="button" class="remove-booking-btn btn btn-green">Remove Booking</button>
        </div>
    </template>




{% with blocks=page.bottom_body %}
{% for block in blocks %}

{% if block.block_type != "InternalPageNavigationBlock" %}
<section class="block-{{ block.block_type }}">
  {% include_block block %}
</section>
{% else %}
{% include_block block %}
{% endif %}
{% endfor %}
{% endwith %}


{% endblock %}
{% block extra_js %}
<script>
    var holding_values = {{booking_temp_data|safe}};

    function fillBookings() {
    let i = 0;

    function processNext() {
      if (i >= holding_values.length) return;

      const bookingIndex = i + 1;
      const booking = holding_values[i];

      if (!booking) {
        console.warn(`No booking data for index ${i}`);
        i++;
        processNext();
        return;
      }

      const bookingBlock = $(`.booking[data-booking-index="${bookingIndex}"]`);
      if (bookingBlock.length === 0) {
        const addBtn = $('#add-booking-btn');
        if (addBtn.length) {
          addBtn.click();

          // Wait a bit for DOM to update
          setTimeout(() => {
            fillFields(bookingIndex, booking);
            i++;
            processNext();
          }, 200);
          return;
        }
      } else {
        fillFields(bookingIndex, booking);
        i++;
        processNext();
      }
    }

    function fillFields(index, booking) {
      const prefix = `booking_${index}_`;

      $(`[name="${prefix}start_date"]`).val(booking.start_date);
      $(`[name="${prefix}end_date"]`).val(booking.end_date);
      $(`[name="${prefix}frequency_of_booking"]`).val(booking.frequency_of_booking);
      $(`[name="${prefix}start_time"]`).val(booking.start_time);
      $(`[name="${prefix}finish_time"]`).val(booking.finish_time);
      $(`[name="${prefix}number_of_participants"]`).val(booking.number_of_participants);
    }

    processNext();
  }

  $(document).ready(function () {
    fillBookings();
  });
    </script>
<script src="{% static 'js/facility-hire-form.js' %}"></script>
 {% endblock %}