{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags crispy_forms_tags widget_tweaks %}
{% block body_class %}contact-page innerpage sky-blue-04-bg{% endblock %}


{% block content %}

{% with blocks=page.body %}
{% for block in blocks %}
{% include_block block %}
{% endfor %}
{% endwith %}

<section class="s-form" id="contact-form-section">
    <div class="container s-form__container container-anim-js">
        <div class="row s-form__row">
            <div class="col-md-6 col-12 s-form__col s-form__col-1">
                <div class="s-form__pic-wrap overflow-hidden">
                    <img class="s-form__pic w-100 h-100 obj-cover parallax-js parallax-y-js parallax-img-js" src="/static/images/contact/contact-banner.webp" alt="">
                </div>
            </div>
            <div class="col-md-6 col-12 s-form__col d-flex justify-content-center align-items-center s-form__col-2 light-theme">
                <div class="s-form__block w-100">
                    {% block thankyou_message %}
                        {% endblock %}
                    
                    
                        {% block form %}
                        <h2 class="s-form__block-title h2--secondary text-center block-anim-js">
                            SEND
                            <span class="child-special-text child-special-text--static"><span class="child-special-text__txt child-special-text__txt--secondary">us a</span></span> MESSAGE
                        </h2>
                        
                    <form class="s-form__form" method="post" action=".">
                        {% csrf_token %}
                        <div class="s-form__form-item block-anim-js">
                            {% render_field form.full_name class+="form-control input-style" placeholder="Full name *" autocomplete="Off" %}
                            {{form.full_name.errors}}   
                        </div>
                        <div class="s-form__form-item block-anim-js">
                            {% render_field form.email class+="form-control input-style" placeholder="Email Address *" autocomplete="Off" %}
                            {{form.email.errors}}   
                        </div>
                        <div class="s-form__form-item block-anim-js">
                            {% render_field form.phone class+="form-control input-style" placeholder="Contact number *" autocomplete="Off" %}
                            {{form.phone.errors}}   
                        </div>
                        <div class="s-form__form-item s-form__form-item--last block-anim-js">
                            {% render_field form.message class+="form-control input-style" placeholder="message" autocomplete="Off" %}
                            {{form.message.errors}}   
                        </div>
                        <div class="s-form__form-check-wrap block-anim-js">
                            <div class="checkbox-block">
                                {% render_field form.terms_condition id="checkbox" class+="checkbox-block__input d-none" autocomplete="Off" %}
                                <label for="checkbox" class="checkbox-block__label">
                                            <span class="checkbox-block__label-check">
                                                <img class="checkbox-block__label-check-icon transition-def" src="/static/images/contact/check.png" alt="">
                                            </span>
                                    <span class="checkbox-block__label-txt"> I accept <a href="#">the terms</a> for processing personal data</span>
                                </label>
                            </div>
                            {{form.terms_condition.errors}}   
                        </div>
                        <div class="s-form__form-check-wrap block-anim-js">
                        {% render_field form.captcha %} 
                        {{form.captcha.errors}}   
                    </div>
                        <div class="s-form__form-btn-wrap block-anim-js">
                            <button class="big-circle-btn big-circle-btn--mini mx-auto s-form__form-btn bg-none d-flex align-items-center justify-content-center">
                                <svg class="big-circle-btn__border">
                                    <rect x="0.75" y="0.75" rx="1.5" width="1.5" height="1.5"></rect>
                                    <rect x="0.75" y="0.75" rx="1.5" width="1.5" height="1.5"></rect>
                                </svg>
                                <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12.5625L13.125 20.4375L12.6094 20.9531L11.5312 19.875L12.0469 19.3594L18.6562 12.75H1.35938H0.609375V11.25H1.35938H18.6562L12.0469 4.6875L11.5312 4.125L12.6094 3.09375L13.125 3.60938L21 11.4844L21.5156 12L21 12.5625Z" fill="#002664"/>
                                </svg>
                            </button>
                        </div>

                    </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------------------------->

{% with blocks=page.bottom_body %}
{% for block in blocks %}
{% include_block block %}
{% endfor %}
{% endwith %}


{% endblock %}