{% load wagtailcore_tags wagtailimages_tags %}
<section class="s-faq {{value.background|safe}} {{value.top_padding|safe}} {{value.bottom_padding|safe}}">
  <div class="container s-faq__container container-anim-js">
    <div class="row s-faq__row">
      <div class="s-faq__items acc-items-js">
        {% for item in value.items %}
        <div class="acc-item-wrap-js block-anim-js">
          <div class="s-faq__item acc-item-js">
            <h3 class="s-faq__item-title cursor-pointer mb-0 ff-body h6 acc-title-js position-relative">
              {{item.title|safe}}
              <span class="s-faq__item-title-icon after-el before-el position-absolute"></span>
            </h3>
            <div class="s-faq__item-content acc-content-js last-el-mb-0">
              {% for block in item.content_blocks %}
              {% include_block block %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>