{% load wagtailcore_tags wagtailimages_tags team_tags %}

{% get_team category='all' limit='all' exclude_item=value.exclude.slug as team %}

{% get_categories value.exclude.slug as categories %}
<section class="s-team thac-team__cards {{value.background}}">
    <div class="container s-team__container container-anim-js">
        <div class="s-team__heading row align-items-end">
            <div class="col-lg-4 col-xl-5 col-12 s-team__heading-col s-team__heading-col--1">
                <h2 class="h3 s-team__title block-anim-js">
                    {% if value.title %}
                    {{value.title}}
                    {% else %}
                    Leadership Team
                    {% endif %}
                </h2>
            </div>
            {% if not value.category %}
            <div class="col-lg-8 col-xl-7 col-12 s-team__heading-col s-team__heading-col--2">
                <ul class="nav s-team__heading-list team-category-filter">
                    <li class="block-anim-js block-anim--row-short-js">
                        <a class="text-link is-active" href="#" data-filter="*"><span class="text-link__txt">ALL</span></a>
                    </li>
                    {% for item in categories.items %}
                    <li class="block-anim-js block-anim--row-short-js">
                        <a class="text-link" href="#" data-filter=".{{item.slug|safe}}"><span class="text-link__txt">{{item.title|safe}}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="row s-team__cards leadership-team">
            <div class="no-result-found" style="display:none;">No result found.</div>
            {% for item in team.items %}
            
            <div class="s-team__card-col {{value.layout}} col-sm-6 col-12 block-anim-js {% for cat in item.categories.all %} {{cat.catgory.slug|safe}} {% endfor %}">
                <div class="new-card new-card--third position-relative hover-pic-wrap">
                    
                    <div class="new-card__pic-wrap position-relative overflow-hidden">
                        {% image item.profile_picture original format-webp as img  %}
                        <img class="w-100 obj-cover hover-pic" src="{{img.url}}" alt="">
                    </div>
                    <div class="new-card__content">
                        <h3 class="new-card__title">{{item.title|safe}}</h3>
                        <div class="new-card__txt-wrap last-el-mb-0">
                            {% if item.position %}
                            <p>{{item.position|safe}}</p>
                            {% endif %}
                            {% if item.additional_information %}
                            <p>{{item.additional_information|safe}}</p>
                            {% endif %}
                            {% if item.credentials %}
                            <p>{{item.credentials|safe}}</p>
                            {% endif %}
                        </div>
                        {% if item.email %}
                        <a href="mailto:{{item.email}}"><span class="text-link--reverse text-link color-1"><span class="text-link__txt">{{item.email|safe}}</span></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <a href="javascript:void(0);" class="btn btn-outline-dark-blue full load-more-team">Load More </a> -->
    </div>
</section>

{% block extra_js %}
<script src="/static/js/team-filter.js" data-turbo-track="reload" ></script>
{% endblock %}