{% load wagtailcore_tags wagtailimages_tags team_tags %}
{% get_coaches as team %}
<section class="coach-list s-team thac-team__cards {{value.background}}" data-layout="{{value.layout}}">
    <div class="container s-team__container container-anim-js1">
        <div class="s-team__heading row align-items-end">
            <div class="col-lg-4 col-xl-5 col-12 s-team__heading-col s-team__heading-col--1">
                <h2 class="h3 s-team__title block-anim-js">
                    {% if value.title %}
                    {{value.title}}
                    {% else %}
                    Leadership Team
                    {% endif %}
                </h2>
            </div>
        </div>
        <div class="row s-team__cards">
            <div class="owl-carousel" id="owl-carousel" >
            {% for item in team.items %}
            
            <div class="s-team__card-col {% for cat in item.categories.all %} {{cat.catgory.slug|safe}} {% endfor %}">
                <div class="new-card new-card--third position-relative hover-pic-wrap">
                  {% if item.linked_page %}
                    <a href="#flyout-modal"  data-href="{% url 'profile_detail' item.linked_page.slug %}" class="link-mask modal-event-btn-js flyout-btn"></a>
                    {% endif %}
                    <div class="new-card__pic-wrap position-relative overflow-hidden">
                        {% image item.profile_picture original format-webp as img  %}
                        <img class="w-100 obj-cover hover-pic" src="{{img.url}}" alt="">
                    </div>
                    <div class="new-card__content">
                        <h3 class="new-card__title">{{item.title|safe}}</h3>
                        <div class="new-card__txt-wrap last-el-mb-0">
                            {% if item.position %}
                            <p>{{item.position|safe}}</p>
                            {% endif %}
                            {% if item.additional_information %}
                            <p>{{item.additional_information|safe}}</p>
                            {% endif %}
                            {% if item.credentials %}
                            <p>{{item.credentials|safe}}</p>
                            {% endif %}
                        </div>
                        {% if item.email %}
                        <span class="text-link--reverse text-link color-1"><span class="text-link__txt">{{item.email|safe}}</span></span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        <!-- <a href="javascript:void(0);" class="btn btn-outline-dark-blue full load-more-team">Load More </a> -->
    </div>
</section>
<div class="move-modal-items-to-body">
  <div id="flyout-modal" class="flyout-modal-item modal modal-event-js modal--info position-fixed d-flex flex-column">
    <a href="#flyout-modal" id="modal__overlay" class="modal__overlay position-absolute bg-img-none modal-event-btn-js"></a>
    <div class="modal__block-wrap position-relative ml-auto w-100">
      <a href="#flyout-modal" id="modal-close-info" class="modal-close bg-img-none modal-event-btn-js d-inline-flex justify-content-center align-items-center cursor-pointer position-absolute">
        <svg class="modal-close__icon" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="transition-def" d="M15.1875 7.58691L11.9062 10.8682L15.1875 14.1807C15.5938 14.5557 15.5938 15.2119 15.1875 15.5869C14.8125 15.9932 14.1562 15.9932 13.7812 15.5869L10.5 12.3057L7.1875 15.5869C6.8125 15.9932 6.15625 15.9932 5.78125 15.5869C5.375 15.2119 5.375 14.5557 5.78125 14.1807L9.0625 10.8682L5.78125 7.58691C5.375 7.21191 5.375 6.55566 5.78125 6.18066C6.15625 5.77441 6.8125 5.77441 7.1875 6.18066L10.5 9.46191L13.7812 6.18066C14.1562 5.77441 14.8125 5.77441 15.1875 6.18066C15.5938 6.55566 15.5938 7.21191 15.1875 7.58691Z" fill="var(--primary-dark-blue)" fill-opacity="0.5" />
        </svg>
      </a>
      <div data-scroll="exclude" class="modal__block modal__block--info hide-scrollbar">
        <div class="flyout-content">
        
        </div>
      </div>
    </div>
  </div>
  
</div>