{% load wagtailcore_tags wagtailimages_tags %}
<section class="s-2cols {{value.background}}">
    <div class="container s-2cols__container container-anim-js">
        <div class="row s-2cols__row">
            <div class="col-lg-5 col-12 s-2cols__col s-2cols__col-1">
                <h3 class="h5 s-2cols__mini-title block-anim-js">{{value.left_title|safe}}</h3>
            </div>
            <div class="col-lg-7 col-12 s-2cols__col s-2cols__col-2">
                <div class="s-2cols__content content-block-anim-js last-el-mb-0">
                    {% for block in value.content %}
                    {% include_block block %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>