{% load wagtailcore_tags wagtailimages_tags %}
<section class="s-bg-banner-cards position-relative d-flex align-items-center">
    <div class="s-bg-banner-cards__bg-wrap overlay overflow-hidden parallax-trigger-js">
        <div class="s-bg-banner-cards__bg-wrap-2 position-absolute w-100 h-100 parallax-js parallax-y-js parallax-img-js">
            {% for item in value.items %}
            {% image item.image original format-webp as img %}
            <img class="w-100 h-100 obj-cover position-absolute s-bg-banner-cards__bg s-bg-banner-cards__bg--{{forloop.counter}}" src="{{img.url}}" alt="">
            {% endfor %}
            {% image value.image original format-webp as img %}
            <img class="w-100 h-100 obj-cover position-absolute s-bg-banner-cards__bg s-bg-banner-cards__bg--default" src="{{img.url}}" alt="">
        </div>
    </div>
    <div class="container s-bg-banner-cards__container container-anim-js">
        <div class="row s-bg-banner-cards__row justify-content-center">
            {% for item in value.items %}
            <div class="col-lg-4 col-md-6 col-12 s-bg-banner-cards__col block-anim-js block-anim--each-3-lg-js block-anim--each-2-md-js">
                <div data-pic=".s-bg-banner-cards__bg--{{forloop.counter}}" class="cta-card position-relative parent-hover-block">
                    
                    <a href="{{item.button.href.url}}" {{item.button.href.target}} class="link-mask"></a>
                    
                    <div class="cta-card__content mx-auto">
                        <div class="cta-card__icon-wrap d-flex align-items-center justify-content-center">
                            {% image item.icon original format-webp as img %}
                            <img class="cta-card__icon limited-size-icon" src="{{img.url}}" alt="">
                        </div>
                        <h3 class="cta-card__title">{{item.title|safe}}</h3>
                        <div class="cta-card__txt-wrap last-el-mb-0">
                            <p>{{item.text|safe}}</p>
                        </div>
                        {% if item.button.text %}
                        <div class="cta-card__btn-wrap">
                            <span class="cta-card__btn btn btn--third">
                                <span class="btn__content"> <span class="btn__txt">{{item.button.text|safe}}</span> </span>
                            </span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>