{% load wagtailcore_tags wagtailimages_tags %}
<div class="download-list-section">
    <div class="download-list">
        {% for item in value.items %}
        {% if item.external_link %}
        <a href="{{item.external_link}}" target="_blank" class="btn btn-external-link">
            <i class="fa-regular fa-file-arrow-down"></i>
            {{item.label|safe}}
        </a>
        {% else %}
        <a href="{{item.document.url}}" target="_blank" class="btn btn-download">
            <i class="fa-regular fa-file-arrow-down"></i>
            {{item.label|safe}}
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>