{% load wagtailcore_tags wagtailimages_tags %}



<section class="s-explore position-relative">
    <div class="s-explore__bg-wrap overlay--special overlay after-el before-el overflow-hidden parallax-trigger-js">
        {% image value.image original format-webp as img %}
        <img class="w-100 h-100 obj-cover parallax-js parallax-y-js parallax-img-js" src="{{img.url}}" alt="">
    </div>
    <div class="container s-explore__container container-anim-js">
        <h2 class="s-explore__title text-center block-anim-js">
            Explore
            <span class="child-special-text d-flex justify-content-center"><span class="child-special-text__txt"> 
                {% if value.title %}{{value.title|safe}}{% else %}{% endif %}</span></span>
        </h2>
        <div class="row s-explore__row">
            {% if value.landing_page %}
            {% for item in value.landing_page.specific.get_child_pages %}
            <div class="col-lg-4 col-sm-6 col-12 s-explore__col block-anim-js block-anim--each-3-lg-js block-anim--each-2-sm-js">
                <div class="new-card new-card--secondary position-relative hover-pic-wrap">
                    <a href="{{item.url}}" class="link-mask"></a>
                    <div class="new-card__pic-wrap position-relative overflow-hidden">
                        {% image item.specific.get_hero_image.image fill-320x320-c100 as img %}
                        <img class="w-100 h-100 obj-cover hover-pic" src="{{img.url}}" alt="">
                    </div>
                    <div class="new-card__content">
                        <h3 class="new-card__title">{{item.title|safe}}</h3>
                        <div class="new-card__txt-wrap last-el-mb-0">
                            <p>{{item.specific.short_description|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% for item in page.specific.get_child_pages %}
            <div class="col-lg-4 col-sm-6 col-12 s-explore__col block-anim-js block-anim--each-3-lg-js block-anim--each-2-sm-js">
                <div class="new-card new-card--secondary position-relative hover-pic-wrap">
                    <a href="{{item.url}}" class="link-mask"></a>
                    <div class="new-card__pic-wrap position-relative overflow-hidden">
                        {% image item.specific.get_hero_image.image fill-320x320-c100 as img %}
                        <img class="w-100 h-100 obj-cover hover-pic" src="{{img.url}}" alt="">
                    </div>
                    <div class="new-card__content">
                        <h3 class="new-card__title">{{item.title|safe}}</h3>
                        <div class="new-card__txt-wrap last-el-mb-0">
                            <p>{{item.specific.short_description|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>