{% load wagtailcore_tags wagtailimages_tags %}
<section class="s-interview overflow-hidden">
    <div class="container s-interview__container container-anim-js">
        <div class="s-interview__title-wrap parallax-y-js parallax-js position-relative z-index-3" data-parallax-value="30">
            <h2 class="s-interview__title text-anim-by-line-js">
                {{value.title|safe}}<span class="color-1">{{value.sub_title|safe}}</span>
            </h2>
        </div>
        <div class="row s-interview__row justify-content-end align-items-end">
            <div class="col-auto s-interview__col s-interview__col-1">
                <div class="s-interview__pic-wrap after-el after-el--full block-anim-js">
                    {% image value.image fill-550x540-c100 format-webp as img %}
                    <img class="s-interview__pic w-100 h-100 obj-cover" src="{{img.url}}" alt="">
                    {% if value.video_url %}
                    <div class="s-interview__big-circle-btn-wrap position-absolute">
                        <a href="#modal-{{value.title|slugify}}" class="big-circle-btn d-flex align-items-center justify-content-center modal-toggle-btn-js" src="{{value.video_url}}">
                            <svg class="big-circle-btn__border">
                                <rect x="0.75" y="0.75" rx="1.5" width="1.5" height="1.5"></rect>
                                <rect x="0.75" y="0.75" rx="1.5" width="1.5" height="1.5"></rect>
                            </svg>
                            <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0.521484L2.25 1.83398L15.75 9.75586L18 11.0215L15.75 12.334L2.25 20.209L0 21.5215V18.9434V3.14648V0.521484ZM2.25 4.45898V17.6309L13.5 11.0215L2.25 4.45898Z" class="transition-def" fill="white"></path>
                            </svg>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-auto s-interview__col s-interview__col-2">
                <div class="s-interview__txt-content">
                    <div class="s-interview__txt-wrap last-el-mb-0  block-anim-js">
                        <p>{{value.text|safe}}</p>
                    </div>
                    {% if value.button.text %}
                    <div class="s-interview__btn-wrap  block-anim-js">
                        <a href="{{value.button.href.url}}" {{value.button.href.target}} class="btn btn--third">
                            <span class="btn__content"> <span class="btn__txt">{{value.button.text|safe}}</span> </span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% if value.video_url %}
{% block model_block %}
<div id="modal-{{value.title|slugify}}" class="modal modal--full-video modal--secondary-anim position-fixed d-flex flex-column modal-js modal-popup">
    <a href="#modal-{{value.title|slugify}}" class="modal__overlay position-absolute bg-img-none modal-toggle-btn-js"></a>
    <div  data-scroll="exclude" class="modal__block hide-scrollbar position-relative m-auto">
        <a href="#modal-{{value.title|slugify}}" class="modal-close bg-img-none modal-toggle-btn-js d-flex justify-content-center align-items-center cursor-pointer position-absolute">
            
            <svg class="modal-close__icon" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="transition-def" d="M15.1875 7.58691L11.9062 10.8682L15.1875 14.1807C15.5938 14.5557 15.5938 15.2119 15.1875 15.5869C14.8125 15.9932 14.1562 15.9932 13.7812 15.5869L10.5 12.3057L7.1875 15.5869C6.8125 15.9932 6.15625 15.9932 5.78125 15.5869C5.375 15.2119 5.375 14.5557 5.78125 14.1807L9.0625 10.8682L5.78125 7.58691C5.375 7.21191 5.375 6.55566 5.78125 6.18066C6.15625 5.77441 6.8125 5.77441 7.1875 6.18066L10.5 9.46191L13.7812 6.18066C14.1562 5.77441 14.8125 5.77441 15.1875 6.18066C15.5938 6.55566 15.5938 7.21191 15.1875 7.58691Z" fill="white" fill-opacity="0.5"/>
            </svg>
        </a>
        <div class="modal-video-wrap">
            {% image value.video_poster original format-webp as img %}
            <video preload="metadata" class="obj-cover w-100 h-100 modal-video modal-video-js" id="modal-video-2" playsinline src="{{value.video_url}}" 
            poster="{{img.url}}" type='video/mp4'></video>
            <!-- <div id="modal-video-1" class=" w-100 h-100 modal-video"></div>-->
        </div>
    </div>
</div>
{% endblock %}
{% endif %}