{% load wagtailcore_tags wagtailimages_tags %}
<div class="light-theme">
    <section class="s-benefits">
        <div class="s-benefits__banner overflow-hidden parallax-trigger-js">
            <img class="w-100 h-100 obj-cover parallax-js parallax-img-js parallax-y-js" src="images/full-width-blocks/pic-5.webp" alt="">
        </div>
        <div class="container s-benefits__container container-anim-js">
            <h2 class="s-benefits__title position-relative z-index-3 text-anim-by-line-js">
                {{value.title|safe}}<span class="color-1">{{value.secondary_title|safe}}</span>
            </h2>
            <div class="row s-benefits__row justify-content-center">
                {% for item in value.items %}
                <div class="s-benefits__col col-lg-4 col-sm-6 col-12 block-counter-js block-anim--each-3-lg-js block-anim--each-2-sm-js">
                    <div class="benefit-card d-flex flex-column">
                        <div class="benefit-card__heading">
                            <h3 class="benefit-card__heading-title-1">{{item.pre_title|safe}}</h3>
                            <h3 class="benefit-card__heading-numb">
                                <span data-finish="75" class="counter-js">{{item.value|safe}}</span><sub>{{item.symbol|safe|default:""}}</sub>
                            </h3>
                            <h4 class="benefit-card__heading-title-2">{{item.post_title|safe}}</h4>
                        </div>
                        {% if item.text %}
                        <div class="benefit-card__body last-el-mb-0">
                            <p>{{item.text|safe}}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    
</div>


