{% load wagtailcore_tags wagtailimages_tags %}
<div class="video-module video-module-js">
    <div class="video-module__btn video-module__btn-js123 vimeo-video-btn">
        <img class="video-module__btn-icon video-module__btn-icon--play transition-def" src="/static/images/principal's-welcome/play-icon.svg" alt="">
        <img class="video-module__btn-icon video-module__btn-icon--pause transition-def" src="/static/images/principal's-welcome/pause-btn.svg" alt="">
    </div>
    {% image value.poster_image original format-webp as img %}
    <div style="padding:56.25% 0 0 0;position:relative;{% if value.poster_image %}display: none;{% endif %}" class="vimeo-iframe" >
        <iframe src="{{value.video_url}}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Sample Video"></iframe></div>
    <!-- video class="w-100 h-100 obj-cover" preload="metadata" playsinline src="{{value.video_url}}" poster="{{img.url}}" type="video/mp4"></video-->
     {% if value.poster_image %}
    <img src="{{img.url}}" class="w-100 h-100 obj-cover vimeo-post-img">
    {% endif %}
</div>