{% load wagtailcore_tags wagtailimages_tags %}
<section class="s-steps">
    <div class="container s-steps__container container-anim-js timeline-block">
        <div class="s-steps__label mx-auto text-center last-el-mb-0 block-anim-js">
            <p>{{value.text|safe}}</p>
        </div>
        <div class="s-steps__cards position-relative">
            {% for item in value.items %}
            <div class="s-steps__card-wrap">
                <div class="step-card-label">
                    <span class="step-card-label__txt">{{item.title|safe}}</span>
                </div>
                <div class="parallax-y-js parallax-js" data-parallax-value="30">
                    <div class="step-card position-relative block-anim-js">
                        <div class="step-card__icon-wrap d-flex align-items-center justify-content-center">
                            {% image item.icon original as img %}
                            <img src="{{img.url}}" alt="">
                        </div>
                        <div class="step-card__img-wrap">
                            {% image item.image fill-360x360-c100 format-webp as img  %}
                            {% if item.video_url %}
                            <video width="100%"  controls>
                                <source src="{{item.video_url}}" type="video/mp4">
                                
                                Your browser does not support the video tag.
                              </video>
                              
                            {% else %}
                            
                            <img class="step-card__img w-100 h-100 obj-cover" src="{{img.url}}" alt="">
                            {% endif %}
                            
                        </div>
                        {% if item.button.text %}
                        <div class="step-card__btn-wrap">
                            <a href="{{item.button.href.url}}" {{item.button.href.target}} class="btn step-card__btn">
                                <span class="btn__content"> <span class="btn__txt">{{item.button.text|safe}}</span> </span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>