{% load wagtailcore_tags %}
<section class="section-padd two-column-fullwidth-section {{value.background}} {{value.css_class|safe}} {{value.top_padding}} {{value.bottom_padding}}">
  <div class="container">
      <div class="row">
      <div class="{{value.left_column_width}} {{value.left_column_offset}} left-block">
        {{ self.left_column }}
      </div>
      <div class="{{value.right_column_width}} {{value.right_column_offset}} right-block">
        {{ self.right_column }}
      </div>
    </div>
  </div>
</section>