.s-table__block {
  border: none;
}

.s-table__block .table-responsive table {
  border-bottom: 1px solid var(--secondary-teal);
  border-left: 1px solid var(--secondary-teal);
  width: 100%;
}

.s-table__block .table-responsive table tr:nth-child(odd) {
  background: var(--primary-teal-20);
}

.s-table__block .table-responsive table tr th {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  min-height: 68px;
  text-transform: none;
  color: var(--basic-white);
  background: var(--primary-dark-blue);
}

.s-table__block .table-responsive table tr th,
.s-table__block .table-responsive table tr td {
  width: 20%;
  border-top: 1px solid var(--secondary-teal);
  line-height: 150%;
  border-right: 1px solid var(--secondary-teal);
  padding: 10px 12px;
}

.s-table__block .table-responsive table tr td {
  color: var(--primary-dark-blue);
  min-height: 5rem;
  font-size: 0.875rem;
}

.pt-10 {
  padding-top: 10rem;
}


.template-searchresults .container form {
  width: 100%;
  font-weight: 600;
  color: var(--basic-white);
  background: #1a3c74;
  position: relative;
  border: 1px solid rgba(255, 255, 255, .2);
  margin-bottom: 3rem;
}


.template-searchresults .container form input {
  background: none;
  padding: 20px 150px 20px 32px;
  border-radius: 0;
  color: var(--basic-white);
  width: 100%;
  border: none !important
}

.template-searchresults .container form input:focus {
  outline: none !important;
  border: none !important;
}

.template-searchresults .container form input[type="submit"] {
  border-left: 1px solid rgba(255, 255, 255, .2) !important;
  position: absolute;
  padding: 20px 32px;
  background: #1a3c74;
  right: 0;
  width: auto;
  top: 0;
  bottom: 0;
  border-radius: 0 !important;
  transition: all ease .25s;
}

.template-searchresults .container form input[type="submit"]:hover {
  background: rgba(255, 255, 255, .2);

}

.template-searchresults .container .search-result ul {
  padding: 0;
}

.template-searchresults .container .search-result ul li {
  list-style: none;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  margin-bottom: 1rem;
}

.template-searchresults .container .search-result ul li:before {
  display: none;
}

.template-searchresults .container .search-result ul li .media {
  display: flex;
  gap: 1.5rem;
}

.template-searchresults .container .search-result ul li .media .media-left {
  width: 265px;
  height: auto;
  aspect-ratio: 8/5;
  max-width: 265px;
  min-width: 265px;
}


.template-searchresults .container .search-result ul li .media .media-left img {
  border-radius: 1rem;
  aspect-ratio: 8/5;
}

.template-searchresults .container .search-result ul li .media .media-body {
  padding: 0 1rem;
}

.template-searchresults .next-prev-btns {
  display: flex;
  justify-content: space-between;
}

.header__megamenu-list-1 {
  font-family: var(--font-family);
  text-transform: none;
}

.header__megamenu-list-pic-container {
  height: 380px;
  margin-bottom: 2rem;
}

.header__megamenu-footer-content {
  justify-content: flex-end;
}

.header__megamenu-list-wrap-col {
  margin-bottom: 2rem;
}

.header__megamenu-footer-content .column-row {
  display: flex;
  width: 100%;
}

.header__megamenu-footer-content .column-row .right-col {
  display: flex;
}

.header__megamenu-footer-content .column-row>div {
  flex: 1;
}

.header__megamenu-container .right-column {
  width: 50%;
}

.header__megamenu-list-2-wrap {
  width: 100%;
}

.header__megamenu-footer-list-2 {
  padding-top: 10px;
}


.header__megamenu-list-1 span {
  white-space: nowrap;
}

.header__megamenu-list-1 {
  font-family: var(--font-family);
  text-transform: none;
}

.header__megamenu-list-2-wrap-menus {
  width: 100%;
  margin-bottom: 1.5rem;
  height: 380px;
}

.home-page .s-banner+.s-scroll-banners {
  padding-top: 5rem;
}

.header__container-wrap .dropup-block__content {
  bottom: inherit;
}

.header__megamenu-list-1 svg {
  opacity: 0;
  transition: all ease .25s;
}

.header__megamenu-panel-btn-active svg {
  opacity: 1;
}

.home-page .main .s-small-banners {
  padding-bottom: 4rem;
}

.home-page .main .s-small-banners__btn-wrap {
  bottom: -8.5rem;
}

body .header__login-block-container,
body .header__megamenu-container {
  width: auto;
}

body .header__megamenu-list-2 a:hover {
  color: var(--secondary-teal);
}

body .header__megamenu-list-2-col-1 {}

body .header__megamenu-list-2-col-2 {
  padding: 0 15px;
}

.header__megamenu-footer-content .column-row>div .header__megamenu-footer-col-1 {
  width: 42.5%;
  padding: 6px 10px 0 10px;
}


body .header__megamenu-footer-col-2 {
  margin-left: 0;
}

.download-list {
  padding: 1rem 0;
}

.download-list-section .section-header {
  padding-right: 2rem;
}

.download-list-section .section-header h1 {
  margin-bottom: 2.5rem;
}

.btn.btn-external-link,
.btn.btn-download {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-teal, #A1E7D7);
  color: var(--primary-dark-blue, #002664);
  font-family: var(--font-family);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  min-height: 4.125rem;
  border-radius: 0;
  margin-bottom: .625rem;
  width: 100%;
  gap: 1.25rem;
  text-transform: none;
}

.btn.btn-download i {
  font-size: 2rem;
  color: var(--primary-dark-blue);
}

.btn.btn-external-link {
  padding-right: 3rem;
  position: relative;
  padding-left: 2rem;
}

.btn.btn-external-link svg {
  position: absolute;
  right: 1.25rem;
}




.btn.btn-external-link:hover,
.btn.btn-download:hover {
  background: var(--secondary-teal);
  color: var(--primary-dark-blue);
}

.btn.btn-external-link:hover i,
.btn.btn-download:hover i {
  color: var(--primary-dark-blue);
}

.timeline-block video {
  height: 100%;
}

.block-VideoBlock .pb-0 .video-module-container {
  padding-bottom: 0px;
}

.block-VideoBlock .container-fluid.video-module-container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}


.child-special-text__txt {
  position: relative;
}

span.ellipses {
  font-family: var(--third-family);
  color: #fff;
  letter-spacing: 0px;
}

.btn+.btn,
.btn+.link {
  display: inline-flex;
  margin-left: 0.5rem;
}

.download-list .btn.btn-download+.btn.btn-download,
.external-links .btn.btn-external-link+.btn.btn-external-link {
  margin-left: 0;
}



.external-links .external-link-item,
.download-list {
  margin-bottom: 2.5rem;
}

.download-list h3,
.external-links .external-link-item h3 {
  margin-bottom: 1.5rem;
  font-family: var(--font-family);
  text-transform: none;
  font-weight: 600;
  font-size: 2rem;

}

.btn--dark-blue {
  color: var(--basic-white);
  background: var(--primary-dark-blue);
  border-color: var(--primary-dark-blue);
}

.btn--dark-blue:hover {
  border-color: var(--secondary-teal);
}

.hero-primary__title>.anim-lines::after {
  content: '...';
}

.news-index-page .vbox-container img,
.news-index-page .vbox-container {
  max-height: 95vh;
  overflow: hidden;
}

.news-index-page .hero-news__title {
  color: var(--secondary-teal);
}

.news-index-page .hero-news__title .child-special-text__txt {
  color: #fff;
}

.news-category-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-category-filter>.block-anim-js {
  margin-bottom: 1rem;
}

.news-category-filter>.block-anim-js+.block-anim-js {
  margin-left: 1rem;
}

.s-quote__txt-wrap .s-quote__name {
  color: var(--primary-dark-blue);
}

.header .header__megamenu-list-wrap-col li a:hover svg {
  opacity: 1;
}

.s-team .new-card--third .new-card__txt-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: calc(1.5em * 2);
  line-height: 1.5em;
}

form {
  padding: 4rem 0;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-flex;
  margin: .5rem;
}

form button.btn {
  background: var(--primary-dark-blue);
  color: var(--basic-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;

}

.header .header__login-block-container+.header__login-block-container {
  margin-top: 1.5rem;
}

.light-teal-theme {
  background: var(--primary-teal-20);
  color: var(--primary-dark-blue);
}

.s-faq.dark-theme {
  background: var(--primary-dark-blue);
}

.header .header__megamenu-list-pic-block-title {
  position: absolute;
  bottom: 0;
}

.webform-client-form label {
  color: var(--primary-dark-blue);
}

.news-detail .light-theme {
  background: var(--primary-dark-blue);
}

.modal__section-title a {
  text-decoration: none !important;
  background: none;
}

.s-team.thac-team__cards .s-team__cards {
  margin-top: 2.5rem;
}

.s-team.thac-team__cards .s-team__heading-list li:not(:last-child) {
  margin: 0 28px 4px 0;
}

.s-team.thac-team__cards .new-card {
  padding: 0;
  position: relative;
  border: none;
  overflow: hidden;
}

.s-team.thac-team__cards .new-card .new-card__pic-wrap {
  margin-bottom: 0;
}

.s-team.thac-team__cards .new-card .new-card__content {
  padding: 5rem 1.25rem 1.25rem;
  text-align: center;
  background: linear-gradient(180deg, rgba(0, 38, 100, 0.00) 5.21%, rgba(0, 38, 100, 0.65) 52.61%, rgba(0, 38, 100, 0.80) 76.3%, #002664 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;

}

.s-team.thac-team__cards .new-card .new-card__txt-wrap {
  margin-bottom: .625rem;
  min-height: inherit;
}

.s-team.thac-team__cards .new-card {
  transform: none !important;
}

.s-team.thac-team__cards .s-team__title {
  margin: 0;
}

.s-team.thac-team__cards.light-theme .new-card {
  padding: 1.25rem;
  border: 1px solid var(--primary-dark-blue, #002664);
}

.s-team.thac-team__cards.light-theme .new-card .new-card__content {
  position: relative;
  background: none;
  padding: 1rem 0 0;
  text-align: left;
}

.s-team.thac-team__cards.light-theme .new-card .new-card__content p {
  margin: 0;
}

.s-team.thac-team__cards.light-theme .new-card .new-card__content p+p {
  margin-top: 1.25rem;
}

.s-team.thac-team__cards.light-theme .new-card__txt-wrap {
  margin-bottom: 0;
  min-height: 3.25rem;
}

.s-team.thac-team__cards.light-theme .new-card .new-card__content h3 {
  color: var(--primary-dark-blue, #002664);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.s-team.thac-team__cards.light-theme .s-team__heading .s-team__heading-list li a.text-link .text-link__txt {
  color: var(--primary-dark-blue, #002664);
  text-align: center;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 14px */
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.s-team.thac-team__cards.light-theme .s-team__cards {
  margin-top: 0.5rem;
}

.s-team.thac-team__cards.light-theme .s-team__heading-list li:not(:last-child) {
  margin: 0 40px 4px 0;
}

.block-ExplorePageswithFlyoutPanelBlock .new-card--secondary {
  padding: 1.25rem;
}

.block-ExplorePageswithFlyoutPanelBlock .new-card--secondary .new-card__title {
  margin: 0;
  font-weight: 700;
  text-transform: none;
  font-size: 2rem;
  line-height: 120%;
}

.flyout-modal-item .container {
  padding: 0px;
}

.s-team.thac-team__cards.light-theme .new-card .new-card__content .text-link {
  margin-top: 1.5rem;
  color: var(--primary-dark-blue) !important;
}

.latest-news-with-category {
  padding: 6.25rem 0 5rem;
}

.latest-news-with-category .hero-news__col {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.latest-news-with-category .news__heading .team-category-filter li a.text-link {
  display: inline-flex;
  padding: var(--units-16, 16px) var(--units-20, 20px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--radius-360, 360px);
  border: 1px solid var(--primary-dark-blue, #002664);
  color: var(--primary-dark-blue, #002664);
  text-align: center;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 14px */
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;
}

.latest-news-with-category .news__heading .team-category-filter li a.text-link {
  color: var(--primary-dark-blue, #002664) !important;
  background: none;
}

.latest-news-with-category .news__heading .team-category-filter li:hover a.text-link {
  background: var(--primary-dark-blue, #002664) !important;
  background: none;
}

.latest-news-with-category .news__heading .team-category-filter li a.text-link:hover .text-link__txt {
  color: var(--basic-white) !important;
  background: none;
}

.latest-news-with-category .hero-news__cards .new-card--third,
.latest-news-with-category .new-card {
  border: 1px solid var(--secondary-teal, #A1E7D7);
  background: var(--primary-teal-20, #ECFAF7);
}

.latest-news-with-category .new-card .new-card__title {
  color: var(--primary-dark-blue, #002664);
  margin-bottom: .625rem;
}

.latest-news-with-category .new-card .new-card__txt-wrap {
  margin-bottom: 1.25rem;
}


#contact-form-section .s-form__block {
  padding: 100px 40px 50px;
}

.block-ExplorePageswithFlyoutPanelBlock .s-explore {
  padding: 100px 0;
}

.block-ExplorePageswithFlyoutPanelBlock .s-explore__title {
  margin-bottom: 96px;
}

section,
.footer {
  clear: both;
}

.internal-page-navigation {
  margin-bottom: 2.75rem;
}

.internal-page-navigation-after-scroll {
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  z-index: 99;
  pointer-events: none;
  text-align: center;
  transition: all var(--animation-default), transform var(--animation-default);
}

body:not(.is-sticky-local-menu) .internal-page-navigation-after-scroll {
  -webkit-transform: translateY(calc(-100% - 5rem));
  -ms-transform: translateY(calc(-100% - 5rem));
  transform: translateY(calc(-100% - 5rem));
  opacity: 0;
}

.internal-page-navigation-after-scroll .news-category-filter {
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 360px;
  gap: 1rem;
  margin-left: 2.5rem;
  background: var(--primary-dark-blue);
  pointer-events: all;
}

.internal-page-navigation-after-scroll .news-category-filter>div {
  margin: 0 !important;
}

.header .right-column .header__megamenu-list-pic-wrap {
  border-radius: 1rem;
  overflow: hidden;
}

.header .right-column .header__megamenu-list-pic-wrap img {
  transition: all ease .5s;
}

.header .right-column .header__megamenu-list-pic-wrap:hover img {
  transform: scale(1.05);
}

/*.hero--secondary */

.s-team.thac-team__cards .new-card .new-card__pic-wrap {
  height: auto;
}

.s-team.thac-team__cards .new-card .new-card__pic-wrap img {
  aspect-ratio: 360/450;
  height: auto;
}

.facility-form .booking-form .booking-fields-section {
  background: none;
}

.facility-form .booking-form .booking-fields-section h3 {
  color: var(--primary-dark-blue);
}

.full-width-video-module {
  padding: 0 !important;
}

.vimeo-iframe .plyr__poster {
  background-size: cover;
}

.internal-page-navigation-after-scroll .news-category-filter a.active {
  color: var(--primary-dark-blue);
  background: var(--secondary-teal);
}

.event-index-page .hero-news__events .event-item {
  width: 100%;
}

.event-index-page .hero-news__title {
  color: var(--secondary-teal);
}

.event-index-page .hero-news__title .child-special-text__txt {
  color: var(--basic-white);
}

.event-card__info-block i {
  margin-right: 0.5rem;
}

.internal-page-navigation-after-scroll .news-category-filter a.btn.btn--third.scroll-link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--secondary-teal);
  border-radius: 360px;
  transition: all ease-out .1s;
  width: 0;
}

.internal-page-navigation-after-scroll .news-category-filter a.btn.btn--third.scroll-link.active .btn__txt {
  color: var(--primary-dark-blue);
}

.internal-page-navigation-after-scroll .news-category-filter a.btn.btn--third.scroll-link.active:before {
  width: 100%;
}

.s-2cols__content ul li,
.check-list ul li,
ul.check-list li {
  padding-left: 2.25rem;
}

.s-2cols__content ul li:before,
.check-list ul li:before,
ul.check-list li:before {
  position: absolute;
  left: 0;
  background: none;
  font-size: 1.25rem;
  font-family: "Font Awesome 6 Pro";
  content: "\f058";
  font-weight: 900;
  color: var(--secondary-turquoise, #67CDA9);
}


/************************************/
.booking-fields-section {
  margin: 30px 0;
  padding: 20px 0;
  border-radius: 5px;
}

.booking {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: relative;
}

.booking h4 {
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--primary-dark-blue);
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.help-text {
  font-size: 0.9em;
  color: #666;
  margin-top: 3px;
}

.errors {
  color: #d32f2f;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
}

.form-actions {
  margin-top: 20px;
  text-align: right;
}



.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 4.125rem;
  width: 100%;
}

.file .input-wrap input.form-control {
  min-width: 100%;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  box-shadow: none;
}

.file .input-wrap .file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 4.125rem;
  padding: .75rem 1.5rem;
  line-height: 2.5;
  color: var(--primary-dark-blue);
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-teal);
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.file .input-wrap .file-custom:after {
  content: "Choose file...";
}

.file .input-wrap .file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 4.125rem;
  padding: .75rem 1.5rem;
  line-height: 2.5;
  color: var(--basic-white);
  background-color: var(--primary-dark-blue);
  border: none;
  border-radius: 0;
}

/* Focus */
.file .input-wrap input:focus~.file-custom {
  box-shadow: none;
}



.hero-news__events .event-item .event-card__content .event-card__info-block i {
  color: var(--secondary-turquoise, #67CDA9);
}

.hero-news__events .event-item .event-card__content .event-card__title {
  margin-bottom: .625rem;
  text-transform: uppercase;
}

.btn.btn-light-green {
  border: 1px solid var(--secondary-teal, #A1E7D7);
  background: var(--secondary-teal, #A1E7D7);
  color: var(--primary-dark-blue);
}

.btn.btn-light-green:hover {
  border: 1px solid var(--secondary-teal, #A1E7D7);
  color: var(--secondary-teal, #A1E7D7);
  background: var(--primary-dark-blue);
}

.s-form__form-item label {
  color: var(--primary-dark-blue);
  text-transform: uppercase;
}

form h1,
form h2,
form h3,
form h4,
form h5,
form h6,

.booking-fields-section h3,
.booking-fields-section h4 {
  color: var(--primary-dark-blue);
}

.s-form__form-item.RadioSelect label,
.s-form__form-item.CheckboxSelectMultiple label {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  text-transform: none;
}

.s-form__form-item.RadioSelect label input[type="radio"],
.s-form__form-item.CheckboxSelectMultiple label input[type="checkbox"] {
  margin: 0;
}

.s-form__form-item.CheckboxInput input {
  margin: 0 1rem 0 0;
}

.s-form__form-item.CheckboxInput {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.webform-client-form h4 {
  color: var(--primary-dark-blue);
}

.wagtail-form-section {
  padding: 5rem 1rem;
}

.wagtail-form-section p,
.wagtail-form-section small,
.wagtail-form-section .s-form__block-title {
  color: var(--primary-dark-blue);
}

.wagtail-form-section .input-style {
  padding: 0.5rem 0;
}


form .booking-fields-section .booking .form-group label {
  font-weight: 400;
  color: var(--primary-dark-blue);
  text-transform: uppercase;
}

form .booking-fields-section .booking .form-group input.form-control {
  min-height: 42px;
  padding: 8px 0;
  text-transform: none;
}

form .booking-fields-section .booking .form-group ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-transform: none;
}

form .booking-fields-section .booking .form-group ::-moz-placeholder {
  /* Firefox 19+ */
  text-transform: none;
}

form .booking-fields-section .booking .form-group :-ms-input-placeholder {
  /* IE 10+ */
  text-transform: none;
}

form .booking-fields-section .booking .form-group :-moz-placeholder {
  /* Firefox 18- */
  text-transform: none;
}

/* .video-module-wrapper.active .vimeo-video-btn .video-module__btn-icon--pause {
  opacity: 1;
}

.video-module-wrapper.active .vimeo-video-btn .video-module__btn-icon--play {
  opacity: 0;
} */


.light-teal-theme,
.light-theme {
  margin-top: -3px !important;
  margin-bottom: -3px !important;
}


.help-text-content ul li,
.s-2cols__content ul li,
.check-list ul li,
ul.check-list li {
  padding-left: 2.25rem;
}

.help-text-content ul li:before,
.s-2cols__content ul li:before,
.check-list ul li:before,
ul.check-list li:before {
  position: absolute;
  left: 0;
  background: none;
  font-size: 1.25rem;
  font-family: "Font Awesome 6 Pro";
  content: "\f058";
  font-weight: 900;
  color: var(--secondary-turquoise, #67CDA9);
}

.help-text-content {
  background: #ffff;
  padding: 2rem;
  color: var(--house-lewis-2) !important;
  margin-bottom: 2rem;
}

.help-text-content ul li:before {
  top: 0;
}

.help-text-content ul li {
  color: var(--primary-dark-blue);
}

.i-wish-my-child-to-have.help-text-element {
  padding: 12px 0;
  color: var(--primary-dark-blue);
}

.internal-navigation-dropdown {
  display: none;
}

.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary {
  border: none;
  padding: 0;
  position: relative;
  overflow: hidden;
}

/*
.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary .new-card__content {
  position: absolute;
  padding: 45% 1.25rem 1.25rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  bottom: -34%;
  left: 0;
  min-height: 250px;
  right: 0;
  color: var(--basic-white);
  background: linear-gradient(180deg, rgba(0, 38, 100, 0.00) 0%, rgba(0, 38, 100, 0.65) 51.44%, rgba(0, 38, 100, 0.85) 100%);
  justify-content: flex-start;
  gap: .625rem;
  transition: all ease .5s;

}*/
.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary .new-card__content {
  position: absolute;
  padding: 1.25rem 1.25rem 1.25rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  bottom: -40%;
  left: 0;
  min-height: 280px;
  right: 0;
  color: var(--basic-white);
  justify-content: flex-start;
  gap: .625rem;
  transition: all ease .5s;
  justify-content: flex-start;
}


.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary .new-card__content:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(180deg, rgba(0, 38, 100, 0.00) 0%, rgba(0, 38, 100, 0.65) 51.44%, rgba(0, 38, 100, 0.85) 100%);
  height: 180%;
  z-index: 1;
}

.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary .new-card__content .block-content * {
  position: relative;
  z-index: 2;
}

.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary .new-card__content .new-card__title {
  color: var(--basic-white);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 48px */
  letter-spacing: -0.8px;
  margin-bottom: 0.5rem;
}

.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary .new-card__content p {
  font-size: .875rem;
  line-height: 150%;
  transition: all ease .5s;
  opacity: 0;

}

.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary .new-card__pic-wrap {
  height: auto;
  margin-block-end: 0;
}

.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary .new-card__pic-wrap img {
  aspect-ratio: 360/480;
}

.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary .new-card__content .btn {
  border: 1px solid var(--secondary-teal, #A1E7D7);
  background: var(--secondary-teal, #A1E7D7);
  margin-top: 1.25rem;
  opacity: 0;
  transition: all ease .5s;
}

.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary:hover .new-card__content {
  bottom: 0;
}

.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary:hover .new-card__content p,
.explore-pages-with-flyout-panel-block .s-explore__row .new-card--secondary:hover .new-card__content .btn {
  opacity: 1;
}

.s-scroll-banners__slide .small-title {
  left: 0;
  right: 0;
}


body .header__login-block-container .header__login-block-item {
  position: relative;
  overflow: hidden;
}

body .header__login-block-container .header__login-block-item img {
  transition: all ease .4s;
}

body .header__login-block-container .header__login-block-item:hover img {
  transform: scale(1.1);
}

.mylivechat_inline {
  z-index: 11;
}

.leadership-team .hidden,
.s-vacancies__items .hidden,
.hero-news__cards .hidden,
.hero-news__events .hero-news__events-col.event-item.hidden {
  display: none;
}

.s-vacancies__item-col a {
  background: none !important;
  background-image: none !important;
}

.s-vacancies__item-col a:hover {
  color: var(--primary-dark-blue);
}

.s-map .s-map__map-wrap {
  overflow: hidden;
}

.s-map__btn-wrap {
  margin-top: 1.5rem;
  position: relative;
}

.divider-block {
  display: block;
  width: 100%;
  clear: both;
  float: left;
}

.divider-block>span {
  min-height: 1px;
  height: 1px;
  display: block;
  width: 100%;
}

.light-grey {
  background: lightgrey;
}

.external-link-thumbnails>.container>.row {
  margin: 0 -10px;
}

.external-link-thumbnails>.container>.row>div {
  padding: 0 10px;
  margin-bottom: 3.75rem;
}

.external-link-thumbnails .thumbnail-block a .image {
  position: relative;
  overflow: hidden;
}

.external-link-thumbnails .thumbnail-block a .image img {
  aspect-ratio: 275/185;
  object-fit: cover;
  transition: all ease .4s;
}

.external-link-thumbnails .thumbnail-block a:hover .image img {
  transform: scale(1.1);
}

.external-link-thumbnails .thumbnail-block a .thumbnail-content h4 {
  color: var(--primary-dark-blue);
  font-size: 1rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  position: relative;
  text-transform: none;
  margin: .625rem 0 0;
}

.external-link-thumbnails .thumbnail-block a .thumbnail-content h4:after {
  font-size: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--basic-white);
  border: 1px solid var(--primary-teal-20);
  font-family: "Font Awesome 6 Pro";
  border-radius: var(--radius-360, 360px);
  border: 1px solid var(--secondary-teal, #A1E7D7);
  content: "\e09f";
  position: absolute;
  right: 0;
  top: 0;
  transition: all ease .25s;
}

.external-link-thumbnails .thumbnail-block a:hover h4:after {
  background: var(--secondary-teal);
  color: var(--primary-dark-blue);
}

.lead-text {
  color: var(--primary-dark-blue, #002664);
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
}

.modal__section .richtext-image {
  margin-bottom: 1rem;
}

.table-responsive {
  max-width: 100%;
  margin: auto;
  overflow: auto;
}

section.light-theme .s-faq.light-theme {
  padding: 20px 0;
}

.btn,
.header #google_translate_element_mobile .goog-te-gadget .goog-te-combo ,
.header #google_translate_element_mobile .goog-te-gadget .goog-te-combo {
  backface-visibility: hidden;
  will-change: transform;
}

.ratio-16x9 {
  --bs-aspect-ratio: calc(9 / 16.125 * 100%) !important;
}

.template-searchresults .main form {
  padding: 0;
}

.vbox-open .vbox-grab .vbox-child img {
  max-height: 92vh;
  width: 100%;
}

.primary-font *,
.primary-font {
  font-family: var(--font-family) !important;
}

.primary-font h5 {
  font-weight: 500;
  line-height: 120%;
}

.instructor-list .owl-carousel .owl-nav,
.coach-list .owl-carousel .owl-nav,
.tutor-list .owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 2rem;
  margin: auto;
  display: flex;
  left: 0;
  right: 0;
  justify-content: space-between;
}

.instructor-list .owl-carousel .owl-nav button,
.coach-list .owl-carousel .owl-nav button,
.tutor-list .owl-carousel .owl-nav button {
  font-size: 0;
  position: relative;
}

.instructor-list .owl-carousel .owl-nav button:before,
.coach-list .owl-carousel .owl-nav button:before,
.tutor-list .owl-carousel .owl-nav button:before {
  font-family: "Font Awesome 6 Pro";
  content: "\f105";
  font-size: 1.5rem;
  color: var(--basic-white);
}

.instructor-list .owl-carousel .owl-nav button.owl-prev:before,
.coach-list .owl-carousel .owl-nav button.owl-prev:before,
.tutor-list .owl-carousel .owl-nav button.owl-prev:before {
  content: "\f104";
}


.owl-carousel .owl-nav.disabled {
  display: none !important;
}

.hero-news__cards .new-card--third .new-card__title {
  min-height: 3.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.footer .footer__row-4 {
  justify-content: center;
  margin: 5rem 0 1rem;
}

.footer .footer__row-4 a {
  background: none;
}

.footer .footer__row-2 {
  margin-bottom: 0;
}

a:focus-visible,
a:focus,
a:focus-within {
  outline: none;
}

.content-with-alignment-option-wrap.image-right .container>.row {
  flex-direction: row-reverse;
}

.s-promo-banner__title .child-special-text__txt span {
  font-family: var(--third-family);
  color: var(--basic-white);
  font-size: 7rem;
  top: -2.5rem;
  position: relative;
  left: .5rem;
}

.s-pin-banners__content--2 img {
  max-width: 2rem;
}

.header .btn.dropup-block__btn .btn__arrow {
  pointer-events: none;
}

.container>.row>div.light-teal-theme,
.container>.row>div.light-theme {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


.s-vacancies.light-theme .s-vacancies__item-wrap .link-with-icon {
  color: var(--primary-dark-blue);
  opacity: 0.8;
}

.s-vacancies.light-theme .s-vacancies__item-wrap .link-with-icon:hover {
  color: var(--primary-dark-blue);
  opacity: 1;
}

.mobile-menu-footer {
  display: none;
  position: relative;
}




.header .dropup-block {
  padding: 0;
}

.header .btn.dropup-block__btn {
  padding: 0;
  min-height: inherit;
  position: relative;
  background: none;
  border: none;
}

.header .btn.dropup-block__btn .btn__icon,
.header .btn.dropup-block__btn .btn__arrow {
  position: absolute;
  left: 1rem;
}

.header .btn.dropup-block__btn .btn__arrow {
  left: inherit;
  right: 1rem;
}

.header .btn.dropup-block__btn:hover .btn__icon path,
.header .btn.dropup-block__btn:hover .btn__arrow path {
  fill: var(--secondary-teal);
}

body {
  top: 0 !important;
}

.skiptranslate iframe {
  display: none;
}

.header #google_translate_element_mobile {
  min-height: 50px;
}

.header #google_translate_element_mobile .goog-te-gadget {
  font-size: 0;
  height: 50px;
  position: relative;
}

.header #google_translate_element_mobile .goog-te-gadget>span {
  display: none;
}

.header #google_translate_element_mobile .goog-te-gadget .goog-te-combo {

  color: var(--secondary-teal);
  background: #0000;
  border: 1px solid var(--secondary-teal);
  border-radius: 360px;
  margin: 0;
  padding: 0 2rem 0 2.5rem;
  font-size: 1rem;
  line-height: 50px;
  appearance: none;
  min-height: 50px;
  font-family: var(--font-family);
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.07px;
  cursor: pointer;
}

.header #google_translate_element_mobile .goog-te-gadget .goog-te-combo:focus-visible,
.header #google_translate_element_mobile .goog-te-gadget .goog-te-combo:focus-within {
  outline: none;
}


.header #google_translate_element_mobile .goog-te-gadget .goog-te-combo option {
  background: var(--primary-dark-blue);
}

.s-vacancies__item .link-with-icon:hover .link-with-icon__icon-wrap {
  background: var(--secondary-turquoise);
  color: var(--primary-dark-blue);
}

.hero-news .hero-news__events-col .event-card__txt-wrap p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.s-form__form-item .help-text-element{
color: var(--primary-dark-blue);
}
/**************************************/
@media (min-width:1300px) {
  .landing-page .s-quote--primary .s-quote__pic-wrap {
    width: 55vw;
    height: auto;
  }

  body .s-parallax-banner {
    padding: 5rem 0;

  }

  body .s-parallax-banner .s-parallax-banner__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
    height: 70vh;
  }

  body .s-parallax-banner h2 {
    margin: 0;
  }
}

@media (min-width:1400px) {
  body .s-parallax-banner {
    padding: 6rem 0;
  }
}

@media (min-width:1900px) {
  body .s-parallax-banner {
    padding: 8rem 0;
  }
}

@media (min-width:992px) {
  .s-scroll-banners__slide .small-title {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
  }

  .s-scroll-banners__slide .small-title h3 {
    font-size: 1rem;
    color: white;
    font-family: var(--font-family);
    line-height: normal;
  }

  .s-scroll-banners__slide .small-title h3 span.s-scroll-banners__content-title-arrow-wrap {
    display: none;
  }
}

@media (min-width:992px) and (max-width:1200px) {

  .s-team.thac-team__cards .s-team__heading h3,
  .s-team.thac-team__cards .s-team__heading .h3 {
    font-size: 32px;
  }

  .s-team.thac-team__cards .s-team__heading-list {
    font-size: 13px;
  }

  .s-team.thac-team__cards .s-team__heading-list li:not(:last-child) {
    margin: 0px 15px 2px 0;
  }
}

@media (min-width:1000px) and (max-width:1350px) {

  .s-pin-banners__content-container {
    padding: 56px 0 56px;
  }

  .s-pin-banners__title {
    font-size: 32px;
    margin: 0 auto 64px;
  }

  .s-pin-banners__txt-wrap {
    margin: 0 20px;
  }

  .s-pin-banners__hr {
    margin: 2px auto 20px;
  }

  h4.s-pin-banners__content-kicker {
    margin-bottom: 1rem;
  }
}

@media (max-width:992px) {
  .s-team.thac-team__cards .s-team__heading-list {
    gap: 1rem;
    margin: 2rem 0 0;
  }

  .s-team.thac-team__cards .s-team__cards {
    margin-top: 0;
  }

  .s-team.thac-team__cards .s-team__heading-list li a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-white);
    background: #0000;
    border: 1px solid var(--secondary-teal);
    border-radius: 360px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    text-decoration: none !important;
    outline: none !important;
    padding: 12px 20px;
  }

  .s-team.thac-team__cards .s-team__heading-list li a .text-link__txt {
    background: none;
  }

  .s-team.thac-team__cards .s-team__heading-list li a.active,
  .s-team.thac-team__cards .s-team__heading-list li a:hover {
    color: var(--primary-dark-blue) !important;
    background: var(--secondary-teal) !important;
  }

  .s-team.thac-team__cards .s-team__heading-list li:not(:last-child) {
    margin: 0;
  }
}

@media (max-width:767px) {

  .internal-page-navigation-after-scroll .news-category-filter a.active {
    display: none;
  }

  .internal-page-navigation-container .hero-news__btns-wrap,
  .news-category-filter.internal-page-navigation {
    display: flex !important;
    width: 100%;
  }

  .internal-page-navigation>div:not(.internal-navigation-dropdown) {
    display: none;
  }

  .internal-navigation-dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 2rem;
    background: var(--primary-dark-blue);
    padding: 0.5rem;
  }

  .internal-navigation-dropdown>a.btn {
    background: var(--secondary-teal, #a1e7d7);
    color: var(--primary-dark-blue, #002664);
    border: 1px solid var(--secondary-teal, #a1e7d7);
    border-radius: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    justify-content: space-between;
    min-height: 50px;
    position: relative;
    z-index: 11;
  }

  .internal-navigation-dropdown>a:after {
    border: none;
    font-family: "Font Awesome 6 Pro";
    content: "\f107";
    position: absolute;
    right: 1.25rem;
    color: var(--primary-dark-blue);
    font-size: 1rem;
  }

  .internal-navigation-dropdown.open {
    border-radius: 2rem 2rem 0 0;
  }

  .internal-navigation-dropdown.open>a:after {
    content: "\f106";
  }

  .internal-navigation-dropdown ul li {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  .internal-navigation-dropdown ul li:before {
    display: none;
  }

  .internal-navigation-dropdown ul {
    transition: all ease .5s;
    background: var(--primary-dark-blue);
    margin-top: 0;
    pointer-events: none;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    left: .5rem;
    right: .5rem;
    border-radius: 0 0 2rem 2rem;
    padding: 0 0.5rem;
  }

  .internal-navigation-dropdown.open ul {
    margin-top: 3rem;
    pointer-events: all;
    opacity: 1;
    transform: scaleY(1);
  }



  .internal-navigation-dropdown ul li a {
    background: var(--primary-dark-blue, #002664);
    color: var(--basic-white, #fff);
    padding: 0.625rem 1.5rem;
    border-radius: 36px;
    margin: .75rem 0;
    border: 1px solid var(--secondary-teal, #a1e7d7);
    display: flex;
    min-height: 50px;
    align-items: center;

  }





  .header__megamenu-footer-content .column-row .right-col {
    flex-direction: column;
    width: 100%;
  }

  .menu-open .header__container-wrap .header__container {
    background: var(--primary-dark-blue);
  }

  .header__megamenu-container .right-column,
  .header__megamenu-footer-content .column-row>div .header__megamenu-footer-col-1,
  .header__megamenu-footer-content .column-row>div .header__megamenu-footer-col-2 {
    width: 100%;
    margin: 10px 0;
  }

  .header__megamenu-footer-content .column-row>div .header__megamenu-footer-col-2 {
    padding: 15px 18px;
    margin-bottom: 1.5rem;
  }

  .header__megamenu-header,
  .header__col-3-btns-wrap {
    width: 100%;
  }

  .header__col-3-btns-wrap .btn {
    flex: 1;
  }

  .hero--secondary .hero__container .hero__title {
    margin-bottom: 0;
  }

  .btn.btn--third .btn__txt br {
    display: none;
  }

  .internal-page-navigation-after-scroll {
    top: 2px;
  }

  .internal-page-navigation-after-scroll .news-category-filter {
    background-color: transparent;
  }

  .internal-page-navigation {
    margin: 4rem 0 2.75rem;
  }

  .internal-page-navigation-after-scroll .news-category-filter {
    display: flex;
    border-radius: 2rem;
    margin: auto !important;
  }

  .internal-page-navigation-after-scroll .internal-page-navigation-after-scroll .news-category-filter.open {
    margin: 2rem 2rem 0 0;
  }

  .header__megamenu-list-1 li:not(:last-child) {
    margin-bottom: 4px;
  }

  .row.footer__row-3.justify-content-center.align-items-center,
  .row.footer__row-4.justify-content-center {
    justify-content: flex-start !important;
  }

  .search-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .search-block__results-list li {
    align-items: flex-start;
  }

  .home-page .main .s-small-banners {
    padding-bottom: 4rem;
  }

  .s-map__map-wrap .mapouter .embed-container {
    padding-bottom: 100%;
  }

  .hero-about,
  .hero-news {
    padding: 150px 0 0;
  }

  .row.hero-news__cards {
    margin-top: 2rem;
  }

  .latest-news-with-category .hero-news__col {
    margin: 0.5rem auto;
    max-width: 94%;
  }

  .general-page.innerpage .video-block.light-theme.pt-0.pb-5 {
    padding-bottom: 0 !important;
  }

  .video-block+.video-block {
    padding-top: 1.5rem !important;
  }

  .s-faq__item-title-icon {
    top: 1.55rem;
    bottom: inherit;
  }

  .block-TwoColumnBlock+.block-VideoBlock {
    margin-top: 2rem;
  }

  .external-link-thumbnails .thumbnail-block a .thumbnail-content h4 {
    min-height: 46px;
  }

  .news-category-filter {
    gap: .5rem;
  }

  .s-promo-banner__title .child-special-text__txt span {
    font-size: 4rem;
    top: -1.5rem;
  }



  .mylivechat_template5>div {
    font-size: 0;
    height: 3rem;
    width: 3rem;
    padding: 0;
    border-radius: 50%;
    min-width: inherit !important;
    position: relative;
    margin: 30px 8px;
  }

  .mylivechat_template5 .mylivechat_sprite,
  .mylivechat_template5 .mylivechat_collapsed_text {
    display: none;
  }

  .mylivechat_template_float_right {
    right: 0;
  }

  .mylivechat_template_float_bottom {
    bottom: 0;
  }

  .mylivechat_template5 .mylivechat_collapsed:after {
    content: "";
    display: flex;
    height: 3rem;
    width: 3rem;
    background: url(/static/images/chat-icon.svg) center no-repeat;
    position: relative;
    background-size: 1.5rem;
  }

  .mylivechat_template5.mylivechat-mobile-docked>div {
    right: 0;
    bottom: 0;
  }

  .mylivechat_template5.mylivechat-mobile-docked .mylivechat_expanded_outer {
    margin: 0;
  }

  .mylivechat_expanded_outer,
  .mylivechat_expanded,
  .mylivechat_container,
  .mylivechat_main,
  .mylivechat_prechat,
  .mylivechat_offline,
  .mylivechat_support,
  .mylivechat_support_frame {
    flex: 55555;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    min-width: 240px;
    height: unset;
  }

  .mylivechat_closebtn {
    margin: 30px 12px;
  }

  .mylivechat_expanded_title {
    display: none;
  }

  .header .header__container .header__col>a svg.btn-circle__icon--1 path {
    fill: var(--secondary-teal);
  }

  .header .header__container .header__col>a:hover svg.btn-circle__icon--1 path,
  .header .header__container .header__col>a:focus svg.btn-circle__icon--1 path {
    fill: var(--primary-dark-blue);
  }


  body:not(.menu-open) .header .btn__icon-line {
    background: var(--secondary-teal);
  }

  .header .header__container .header__col>a.btn:hover .btn__icon-line {
    background: var(--primary-dark-blue);
  }

  .btn--login .btn__icon--primary {
    width: 15px;
  }

  .home-page .main .s-small-banners {
    padding-bottom: 2.5rem !important;
  }

  .home-page .s-banner:not(.light-theme) {
    background: var(--primary-dark-blue) !important;
    min-height: inherit;
  }

  .home-page .s-banner:not(.light-theme) img {
    opacity: .1 !important;
  }

  .home-page .s-banner:not(.light-theme) .s-banner__title {
    font-size: 40px;
    margin-bottom: 37px;
    letter-spacing: -0.8px;
  }

  .mobile-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}

@media (max-width:575px) {

  .video-block .video-module,
  .full-width-video-module .video-module {
    height: auto;
  }

  .hero-primary__col-1 {

    padding-bottom: 0.5rem;
  }

  .video-module-container {
    padding: 0px 16px;
  }

  .s-college__title {
    font-size: 40px;
    letter-spacing: -0.04em;
    padding-left: 0;
  }

  .innerpage .btn+.btn {
    display: inline-flex;
    margin: 0.5rem 0;
  }

  .s-table__block-wrap {
    padding: 0;
  }

  .hero-primary__title>.anim-lines::after {
    content: '...';
    position: absolute;
    left: inherit;
    right: -56px;
    font-size: 40px;
    bottom: -18px;
    color: var(--secondary-teal);
  }

}